body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
 
}

form {
    display: flex;
    flex-direction: column;
   
   
}


.container {
  
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.squares {
    font-size: 150px;
    text-align: center;
margin: 5px;
width: 200px;
height: 200px;
background-color: blanchedalmond;
border: solid 1px black;
}
